.card-task-container {
    border-radius: 8px;
    padding: 10px;
    margin: 25px 10px;

}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.title{
    margin: 0;
}
.sub-title-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.sub-title{
    margin: 0 8px
}

:host{
    width: 33%;

}